body {
    color: white;
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    font-weight: bold;
}

.minus,
.add,
.stitchCounter {
    font-size: 32px;
}

.minus,
.add {
    height: 35px;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 15px;
}

.minus:hover,
.add:hover {
    cursor: pointer;
}

.stitchCounter {
    margin: 0 15% 0 15%;
    padding: 0 15% 0 15%;
    width: 32px;
    border-radius: 15px;
    background-color: cadetblue;
}

.actions {
    margin: 2.5% 0 0 0;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(78, 74, 74);
    border-radius: 10px;
    padding: 1%;
    margin-top: 1.5%;
}

.info > p {
    font-size: 18px;
    margin: 5% 0 5% 0;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(78, 74, 74);
    border-radius: 10px;
    padding: 0.5%;
}

.actions > button {
    border: none;
    background-color: burlywood;
    margin: 0 1% 0 1%;
    transition: opacity 0.5s;
}

.actions > button:hover {
    cursor: pointer;
    opacity: 0.8;
}